<section data-tags="<%= post.tags.map(&:name).join(' ') %>">
  <%= render partial: 'bloggy/posts/post_header', locals: {post: post} %>

  <div class="content" data-bloggy="content">
    <%= truncate_html(post.content, length: Bloggy::Config.preview_size, omission: '...') %>
  </div>

  <div class="tags" data-bloggy="tags">
    <%= render post.tags %>
  </div>
  <%= link_to t(".readmore"), post.full_url, class: "button" %>
</section>
