<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-12">

    <div class="chat-panel panel panel-default chat-boder chat-panel-head" >
      <div class="panel-heading">
        <i class="fa fa-comments fa-fw"></i>
        Chat Box
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-chevron-down"></i>
          </button>
          <ul class="dropdown-menu slidedown">
            <li>
              <a href="#">
                <i class="fa fa-refresh fa-fw"></i>Refresh
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-check-circle fa-fw"></i>Available
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-times fa-fw"></i>Busy
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-clock-o fa-fw"></i>Away
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <i class="fa fa-sign-out fa-fw"></i>Sign Out
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel-body">
        <ul class="chat-box">
          <li class="left clearfix">
            <span class="chat-img pull-left">
              <%= image_tag '1.png', class: "img-circle", alt: "User" %>
            </span>
            <div class="chat-body">
              <strong >Jack Sparrow</strong>
              <small class="pull-right text-muted">
                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
              </small>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
              </p>
            </div>
          </li>
          <li class="right clearfix">
            <span class="chat-img pull-right">
              <%= image_tag '2.png', class: "img-circle", alt: "User" %>
            </span>
            <div class="chat-body clearfix">

              <small class=" text-muted">
                <i class="fa fa-clock-o fa-fw"></i>13 mins ago</small>
                <strong class="pull-right">Jhonson Deed</strong>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                </p>
              </div>
            </li>
            <li class="left clearfix">
              <span class="chat-img pull-left">
                <%= image_tag '3.png', class: "img-circle", alt: "User" %>
              </span>
              <div class="chat-body clearfix">

                <strong >Jack Sparrow</strong>
                <small class="pull-right text-muted">
                  <i class="fa fa-clock-o fa-fw"></i>14 mins ago</small>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                  </p>
                </div>
              </li>
              <li class="right clearfix">
                <span class="chat-img pull-right">
                  <%= image_tag '4.png', class: "img-circle", alt: "User" %>
                </span>
                <div class="chat-body clearfix">

                  <small class=" text-muted">
                    <i class="fa fa-clock-o fa-fw"></i>15 mins ago</small>
                    <strong class="pull-right">Jhonson Deed</strong>

                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                    </p>
                  </div>
                </li>
                <li class="left clearfix">
                  <span class="chat-img pull-left">

                    <%= image_tag '1.png', class: "img-circle", alt: "User" %>
                  </span>
                  <div class="chat-body">
                    <strong >Jack Sparrow</strong>
                    <small class="pull-right text-muted">
                      <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                    </small>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                    </p>
                  </div>
                </li>
                <li class="right clearfix">
                  <span class="chat-img pull-right">
                    <%= image_tag '2.png', class: "img-circle", alt: "User" %>
                  </span>
                  <div class="chat-body clearfix">

                    <small class=" text-muted">
                      <i class="fa fa-clock-o fa-fw"></i>13 mins ago</small>
                      <strong class="pull-right">Jhonson Deed</strong>

                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="panel-footer">
                <div class="input-group">
                  <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message to send..." />
                  <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="btn-chat">
                      Send
                    </button>
                  </span>
                </div>
              </div>

            </div>

          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                Label Examples
              </div>
              <div class="panel-body">
                <span class="label label-default">Default</span>
                <span class="label label-primary">Primary</span>
                <span class="label label-success">Success</span>
                <span class="label label-info">Info</span>
                <span class="label label-warning">Warning</span>
                <span class="label label-danger">Danger</span>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                Donut Chart Example
              </div>
              <div class="panel-body">
                <div id="morris-donut-chart"></div>
              </div>
            </div>

          </div>
        </div>
