
<% content_for :body_class, "auth" %>
<div class='wrapper'>
  <div class='row'>
    <div class='col-lg-12'>
      <div class='brand text-center'>
        <h1>Ohmpieng</h1>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-12'>
			<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <fieldset class='text-center'>
          <legend>Resend confirmation</legend>
          <div class='form-group'>
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: :email %>
          </div>
          <div class='text-center'>
            <%= f.submit "Resend confirmation", class: 'btn btn-default' %>
          </div>
        </fieldset>
      <% end %>
      <p><%= devise_error_messages! %></p>
      <p>
        <%= render "accounts/shared/links" %>
      </p>
    </div>
  </div>
</div>
