<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ohmpieng" ng-controller="AppCtrl">
<head>
  <meta charset="utf-8" />
  <title>Ohmpieng.io | Dashboard Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" href="/favicon.ico">

  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans" %> <!-- GOOGLE FONTS-->
  <%= stylesheet_link_tag 'accounts/apps', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'accounts/vendor' %>
  <%= javascript_include_tag 'accounts/apps', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <ui-view></ui-view>
    <dinger></dinger>
  </div>
</body>
</html>
