<!DOCTYPE html>
<html ng-app="ohmpieng" ng-controller="AppCtrl">
<!-- <html> -->
<head>
  <meta charset="utf-8" />
  <title>Ohmpieng.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" href="/favicon.ico">

  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans" %> <!-- GOOGLE FONTS-->
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css
" %>
  <%= stylesheet_link_tag 'accounts/apps', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//connect.facebook.net/en_US/all.js' %>
  <%= javascript_include_tag '//www.googleadservices.com/pagead/conversion_async.js' %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body responsive class="<%= yield (:body_class) %> {{stateName}} {{device}}">
  <!-- Navbar -->
  <div class='navbar navbar-default' id='navbar'>
    <a class='navbar-brand' href='#' ui-sref="account">
      <i class='icon-beer'></i>
      Ohmpieng
    </a>
    <ul class='nav navbar-nav pull-right'>
      <li>
        <%= link_to "<i class='fa fa-cog'></i> Setting".html_safe, account_setting_path(current_account.name) %>
      </li>
      <li class='dropdown user'>
        <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
          <i class='icon-user'></i>
          <strong>John DOE</strong>
          <img class="img-rounded" src="http://placehold.it/20x20/ccc/777" />
          <b class='caret'></b>
        </a>
        <ul class='dropdown-menu'>
          <li>
            <%= link_to  'Edit Profile', account_profile_path(current_account.name) %>
          </li>
          <li class='divider'></li>
          <li>
            <%= link_to 'Sign out', destroy_account_session_path, method: :delete %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div id='wrapper'>
    <ui-view></ui-view>
  </div>

  <%= javascript_include_tag 'accounts/vendor', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'accounts/apps', 'data-turbolinks-track' => true %>
</body>
</html>
