<!DOCTYPE html>
<html ng-app="ohmpieng" ng-controller="AppCtrl">
<!-- <html> -->
<head>
  <meta charset="utf-8" />
  <title>Ohmpieng.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" href="/favicon.ico">

  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans" %> <!-- GOOGLE FONTS-->
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css
" %>
  <%= stylesheet_link_tag 'accounts/apps', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//connect.facebook.net/en_US/all.js' %>
  <%= javascript_include_tag '//www.googleadservices.com/pagead/conversion_async.js' %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body responsive class="<%= yield (:body_class) %> {{stateName}} {{device}}">
  <!-- Navbar -->
  <div class='navbar navbar-default' id='navbar'>
    <a class='navbar-brand' href='#'>
      <i class='icon-beer'></i>
      Ohmpieng
    </a>
    <ul class='nav navbar-nav pull-right'>
      <li>
        <%= link_to "<i class='fa fa-cog'></i> Setting".html_safe, account_setting_path(current_account.name) %>
      </li>
      <li class='dropdown user'>
        <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
          <i class='icon-user'></i>
          <strong>John DOE</strong>
          <img class="img-rounded" src="http://placehold.it/20x20/ccc/777" />
          <b class='caret'></b>
        </a>
        <ul class='dropdown-menu'>
          <li>
            <%= link_to  'Edit Profile', account_profile_path(current_account.name) %>
          </li>
          <li class='divider'></li>
          <li>
            <%= link_to 'Sign out', destroy_account_session_path, method: :delete %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div id='wrapper'>
    <!-- Sidebar -->
    <section id='sidebar'>
      <i class='fa fa-align-justify fa-lg' id='toggle'></i>
      <ul id='dock'>

        <li class='active launcher'>
          <i class='fa fa-info'></i>
          <%= link_to  'Info', account_index_path(current_account.name) %>
        </li>
        <li class='launcher'>
          <i class='fa fa-tachometer'></i>
          <%= link_to  'Dashboard', account_dashboard_path(current_account.name) %>
        </li>
        <li class='launcher dropdown hover'>
          <i class='fa fa-flag'></i>
          <%= link_to  'Reports', account_report_path(current_account.name) %>
          <!-- <ul class='dropdown-menu'>
            <li class='dropdown-header'>Launcher description</li>
            <li>
              <a href='#'>Action</a>
            </li>
            <li>
              <a href='#'>Another action</a>
            </li>
            <li>
              <a href='#'>Something else here</a>
            </li>
          </ul> -->
        </li>
        <li class='launcher'>
          <i class='fa fa-cloud'></i>
          <a href='#'>Backup</a>
        </li>
        <li class='launcher'>
          <i class='fa fa-bug'></i>
          <a href='#'>Feedback</a>
        </li>
      </ul>
      <div data-toggle='tooltip' id='beaker' title='Made by lab2023'></div>
    </section>
    <!-- Tools -->
    <section id='tools'>
      <ul class='breadcrumb' id='breadcrumb'>
        <li class='title'>Ohmpieng</li>
        <li><a href="#">{{stateName}}</a></li>
      </ul>
    </section>
    <!-- Content -->
    <div id='content'>
      <!-- <%= yield %> -->
      <ui-view></ui-view>
    </div>
  </div>

  <%= javascript_include_tag 'accounts/vendor', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'accounts/apps', 'data-turbolinks-track' => true %>
</body>
</html>
