<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Ohmpieng.org | Dashboard Admin</title>
      <!-- Stylesheet -->
      <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/#{bootstrap_version}/css/bootstrap.min.css" %>

      <!-- Javascripts -->
      <%= javascript_include_tag "https://code.jquery.com/jquery-#{jquery_version}.min.js" %>
      <%= javascript_include_tag "https://code.jquery.com/ui/#{jquery_version}/jquery-ui.min.js" %>
      <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/#{bootstrap_version}/js/bootstrap.min.js" %>
      <%= csrf_meta_tags %>

      <%= render partial: 'layouts/accounts/meta' %>
  </head>
  <body>
    <div id="header">
      <div class="container-fluid">
        <div class="navbar">
          <%= render partial: 'layouts/accounts/navbar' %>
        </div>
      </div>
    </div>
    <div id="sidebar">
      <%= render partial: 'layouts/accounts/sidebar' %>
    </div>
    <div id="content">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-12 heading">
            <h1 class="page-header"><i class="st-chart"></i> Charts</h1>
            <ul id="crumb" class="breadcrumb">
            </ul>
          </div>
        </div>
        <div class="outlet">
          <%= yield %>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
