<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ohmpieng.org | Dashboard Admin</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <%= render partial: 'layouts/header' %>
    </head>
    <body>
      <div id="header">
        <div class="container-fluid">
          <div class="navbar">
            <%= render partial: 'layouts/navbar' %>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= render partial: 'layouts/sidebar' %>
      </div>
      <%= yield %>
      <!-- Javascripts -->
      <%= javascript_include_tag 'application_footer' %>
    </body>
</html>
