<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Pratt - Free Bootstrap 3 Theme">
  <meta name="author" content="Alvarez.is - BlackTie.co">
  <link rel="shortcut icon" href="assets/ico/favicon.png">

  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/#{bootstrap_version}/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Montserrat:700" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:400,300,700" %>

  <%= stylesheet_link_tag 'landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  </head>
  <body data-spy="scroll" data-offset="0" data-target="#navigation">
    <%= render partial: "layouts/landing/nav" %>
    <section id="home" name="home"></section>
    <%= render partial: "layouts/landing/home" %>
    <section id="desc" name="desc"></section>
    <%= render partial: "layouts/landing/desc" %>
    <section id="showcase" name="showcase"></section>
    <%= render partial: "layouts/landing/showcase" %>
    <section id="contact" name="contact"></section>
    <%= render partial: "layouts/landing/contact" %>

    <div id="c">
      <div class="container">
        <p>Created by <a href="">OHMPIENG.IO</a></p>
      </div>
    </div>
    <%= javascript_include_tag "https://code.jquery.com/jquery-#{jquery_version}.min.js" %>
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/#{bootstrap_version}/js/bootstrap.min.js" %>
    <%= javascript_include_tag 'landing/smoothscroll' %>
    <%= javascript_include_tag 'landing', 'data-turbolinks-track' => true %>
  </body>
</html>
