<!DOCTYPE html>
<html ng-app="ohmpieng" ng-controller="AppCtrl">
<html>
<head>
  <meta charset="utf-8" />
  <title>Ohmpieng.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" href="/favicon.ico">

  <%= wicked_pdf_stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans" %> <!-- GOOGLE FONTS-->
  <%= wicked_pdf_stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" %>
  <%= wicked_pdf_stylesheet_link_tag "accounts/apps", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body responsive class="<%= yield (:body_class) %> {{stateName}} {{device}}">
  <!-- <ui-view></ui-view> -->

  <%= yield %>
</body>
</html>
