<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="">Ohmpieng.io</a>
  </div>

  <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;"> Last access : <%= current_account.last_sign_in_at %> &nbsp;
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-chevron-down"></i>
      </button>
      <ul class="dropdown-menu slidedown">
        <li>
          <%= link_to account_settings_path do %>
          <i class="fa fa-check-circle fa-fw"></i>
          <%= "Setting".html_safe %>
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to destroy_account_session_path, method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-sign-out fa-fw"></i>
          <%= "Signout".html_safe %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li class="text-center"><%= image_tag "find_user.png", class: "user-image img-responsive" %></li>
      <li><a href="<%= account_index_path %>"><i class="fa fa-square-o fa-2x"></i> Home</a></li>
      <li><a href="<%= account_dashboard_path %>"><i class="fa fa-dashboard fa-2x"></i> Dashboard</a></li>
      <li><a href="<%= account_report_path %>"><i class="fa fa-table fa-2x"></i> Report</a></li>
      <li><a href="<%= account_monitoring_tools_path %>"><i class="fa fa-desktop fa-2x"></i> Monitoring Tools</a></li>
      <li><a href="<%= account_ticket_support_path %>"><i class="fa fa-edit fa-2x"></i> Ticket Support</a></li>
    </ul>
  </div>
</nav>

<div id="page-wrapper">
  <div id="page-inner" ui-view>
  </div>
</div>
