<h2>Reports</h2>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row-fluid">
      <div class="col-md-3 col-md-offset-0">
        <p class="text-left"><%= wicked_pdf_image_tag "user.png", alt: "Ohmpieng" %><!--<img src="user.png" alt="logo" class="img-rounded">--></p>
      </div>
      <div class="col-md-3 col-md-offset-6">
        <p class="text-right">30-5-58/10:00AM<br>
        <%= current_account.name %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-0">
        <h4>User: <%= current_account.name %></h4>
      </div>
    </div>

    <% @servers.each do |server| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="text-left"><h4>ServerName: <%= server.hostname %></h4></p>
        <div class="table-responsive">
          <table ng-table class="table table-condensed table-striped table-bordered">
            <tr>
              <th align="center" class="active" colspan="2">ข้อมูลเครื่อง</th>
            </tr>
            <tr>
              <th class="active" width="30%">Hostname</th>
              <td><%= server.hostname %></td>
            </tr>
            <tr>
              <th class="active" width="30%">OS</th>
              <td><%= server.os %></td>
            </tr>
            <tr>
              <th class="active" width="30%">￼Uptime</th>
              <td><%= server.uptime %></td>
            </tr>
          </table>
        </div>
        <div class="table-responsive">
          <table ng-table class="table table-condensed table-striped table-bordered">
            <tr>
              <th align="center" class="active" colspan="2">RAM</th>
            </tr>
            <tr>
              <th width="30%"><%= server.memories.first.attribute_names[2] %></th>
              <td><%= server.memories.first.mem_total %></td>
            </tr>
            <tr>
              <th width="30%"><%= server.memories.first.attribute_names[3] %></th>
              <td><%= server.memories.first.mem_free %></td>
            </tr>
            <tr>
              <th width="30%"><%= server.memories.first.attribute_names[4] %></th>
              <td><%= server.memories.first.mem_available %></td>
            </tr>
            <tr>
              <th width="30%"><%= server.memories.first.attribute_names[5] %></th>
              <td><%= server.memories.first.buffers %></td>
            </tr>
            <tr>
              <th width="30%"><%= server.memories.first.attribute_names[6] %></th>
              <td><%= server.memories.first.cached %></td>
            </tr>
          </table>
        </div>
        <div class="table-responsive">
          <table ng-table class="table table-condensed table-striped table-bordered">
            <tr>
              <th align="center" class="active" colspan="2">Bandwidth</th>
            </tr>
            <% server.bandwidths.each do |x| %>
            <tr>
              <th class="active" width="30%">Interface</th>
              <td><%= x.interface %></td>
            </tr>
            <tr>
              <th class="active" width="30%">tx</th>
              <td><%= x.tx %></td>
            </tr>
            <tr>
              <th align="left" class="active" width="30%">rx</th>
              <td><%= x.rx %></td>
            </tr>
            <% end %>
          </table>
        </div>
        <div class="table-responsive">
          <table ng-table class="table table-condensed table-striped table-bordered">
            <tr>
              <th align="center" class="active" colspan="2">IO</th>
            </tr>
            <% server.ios.each do |x| %>
              <tr>
                <th class="active" width="30%">Device</th>
                <td><%= x.device %></td>
              </tr>
              <tr>
                <th class="active" width="30%">read</th>
                <td><%= x.reads %></td>
              </tr>
              <tr>
                <th class="active" width="30%">write</th>
                <td><%= x.writes %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!--

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row-fluid">
      <div class="col-md-3 col-md-offset-0">
        <p class="text-left"><%= wicked_pdf_image_tag "user.png", alt: "Ohmpieng" %></p>
      </div>
      <div class="col-md-3 col-md-offset-6">
        <p class="text-right">30-5-58/10:00AM<br>
        Geek</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-0">
        <h4>User: Geek</h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="text-left"><h4>ServerName: TestServer1</h4></p>
        <div class="table-responsive">
          <table ng-table class="table table-hover table-striped table-condensed table-bordered">
            <tr class="warning"><p class="text-center"><b>Worning</b></p>
              <td data-title="'ID'" align="center" width="10%">1</td>
              <td data-title="'DATE'" align="center" width="20%">26/5/58</td>
              <td data-title="'Count'" align="center" width="10%">2</td>
              <td data-title="'Details'">CPU ทำงานเกิน 80%</td>
            </tr>
            <tr class="warning">
              <td data-title="'ID'" align="center" width="10%">2</td>
              <td data-title="'DATE'" align="center" width="20%">27/5/58</td>
              <td data-title="'Count'" align="center" width="10%">1</td>
              <td data-title="'Details'">HDD ใกล้จะเต็ม</td>
            </tr>
          </table>
        </div>
        <div class="table-responsive">
          <table ng-table class="table table-hover table-striped table-condensed table-bordered">
            <tr class="danger"><p class="text-center"><b>Danger</b></p>
              <td data-title="'ID'" align="center" width="10%">1</td>
              <td data-title="'DATE'" align="center" width="20%">26/5/58</td>
              <td data-title="'Count'" align="center" width="10%">2</td>
              <td data-title="'Details'">CPU ทำงาน 100%</td>
            </tr>
            <tr class="danger">
              <td data-title="'ID'" align="center" width="10%">2</td>
              <td data-title="'DATE'" align="center" width="20%">27/5/58</td>
              <td data-title="'Count'" align="center" width="10%">1</td>
              <td data-title="'Details'">HDD เต็ม</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->
